*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  border-radius: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Lato400";
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay600";
  src: url("../fonts/RedHatDisplay-SemiBold.woff2") format("woff2"), url("../fonts/RedHatDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay500";
  src: url("../fonts/RedHatDisplay-Medium.woff2") format("woff2"), url("../fonts/RedHatDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RedHatDisplay400";
  src: url("../fonts/RedHatDisplay-Regular.woff2") format("woff2"), url("../fonts/RedHatDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.header {
  padding: 18px 0;
}
.header__logo {
  font-family: "Lato400", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.5em;
  color: #000000;
}
@media screen and (min-width: 1440px) {
  .header {
    padding: 38px 0;
  }
}

body {
  font-family: "Lato400", sans-serif;
  background: #FFFFFF;
  color: #000000;
}

.container {
  padding: 0 10px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding: 0 34px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding: 0 135px;
  }
}

.section {
  padding-top: 70px;
}
@media screen and (min-width: 768) {
  .section {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-top: 90px;
  }
}

a {
  cursor: url("../images/cursor.svg"), auto;
}

.section-main__title {
  font-family: "RedHatDisplay600", sans-serif;
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section-main__title {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 33px;
    line-height: 1.52;
  }
}
@media screen and (min-width: 1440px) {
  .section-main__title {
    margin-bottom: 70px;
    font-size: 48px;
    line-height: 1.33;
  }
}
.section__title {
  font-family: "RedHatDisplay600", sans-serif;
  font-size: 26px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #000000;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 28px;
  }
}
.section__text {
  font-family: "Lato400", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.05em;
  color: #565656;
}
.section__text:not(:last-child) {
  margin-bottom: 35px;
}
.section__img img {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  object-fit: cover;
}
@media screen and (min-width: 1440px) {
  .section-project__text {
    width: 50%;
  }
}
.section-design {
  padding-bottom: 70px;
}
@media screen and (min-width: 768px) {
  .section-design {
    padding-bottom: 90px;
  }
}

.footer {
  padding: 50px 0;
  background-color: #F4F4F4;
}
.footer-title {
  font-family: "RedHatDisplay400", sans-serif;
  font-size: 32px;
  line-height: 1.31;
  letter-spacing: 0.05em;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1440px) {
  .footer-title {
    text-align: left;
    margin-bottom: 30px;
    font-size: 48px;
  }
}
.footer-inform, .footer-inform__tel {
  font-family: "Lato400";
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.1em;
  color: #000000;
  display: block;
  margin: auto;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .footer-inform, .footer-inform__tel {
    text-align: left;
  }
}
.footer-inform__tel {
  margin-bottom: 15px;
}
.footer-social-list {
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .footer-social-list {
    justify-content: center;
    gap: 23px;
  }
}
.footer-social-item {
  padding: 10px;
  border: 1px solid #565656;
  fill: #565656;
  transition: 0.5s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.footer-social-item:hover {
  background-color: #565656;
  fill: #FFFFFF;
}
.footer-copipast-text {
  font-family: "Lato400";
  font-size: 16px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}
@media screen and (min-width: 1440px) {
  .footer__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */