// Background
$bg-color: #FFFFFF;
$second-bg-color: #F4F4F4;
// Colors
$title-color: #000000;
$text-color: #565656;
$sub-title-color: #7B7B7B;
$accent-color: rgba(99, 195, 199);
// Fonts
$font-main: 'Lato400', sans-serif;
$second-title: 'RedHatDisplay400', sans-serif;
$sub-title-font: 'RedHatDisplay500', sans-serif;
$title-font: 'RedHatDisplay600', sans-serif;
